@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background:#fff;
  --main-text:#000;
}

::-moz-selection {
  color: #000000;
  background: #AFFE00
}

::selection {
  color: #000000;
  background: #AFFE00
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--main-text);
  background: var(--main-background);
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

::-webkit-scrollbar{
width: 12px;
background: rgb(27, 27, 27);
}

::-webkit-scrollbar-thumb{
background:#444343;

}

::-webkit-scrollbar-thumb:hover{
background:#4b4b4b;
cursor: pointer;
}


/* Lightbox.css */
.yarl__container {
  background-color: rgba(0, 0, 0, 0.582) !important; /* Semi-transparent black */
  backdrop-filter: blur(3px);
}

.yarl__slide {
  background-color: transparent !important; /* Ensure the slide background is also transparent */
}

/* main navbar */
.navbar{
  background: rgba(155, 20, 20, 0);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.phonecode input{
  background: transparent !important;
}

/* login */
.dologin{
  background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
}

.dolgbtn-86 {
  all: unset;
  width: 100%;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.dolgbtn-86::after,
.dolgbtn-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.dolgbtn-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  /* border-radius: 10px; */
}

.dolgbtn-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.dolgbtn-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.dolgbtn-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.dolgbtn-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* menu underline */
.underline-hover-effect {
  position: relative;
}

.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  background-color: #AFFE00;
  transition: width 0.30s ease-out;
}
.underline-hover-effect:hover::before {
  width: 100%;
}

/* motionpara */
.motionpara p:nth-of-type(2){
  position: absolute;
  left: 100%;
}

/* what we do */

.wrk-card {
	position: relative;
  overflow: hidden;
	/* padding: 1rem; */
	background-color: #fff;
	/* box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.189); */
	transition: 0.5s ease-in-out;
}


.wrk-card::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	transition: 0.1s all;
	opacity: 1;
}

.wrk-card:hover::before {
	opacity: 0;
}

.wrk-card img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wrk-card .wrk-overlay {
	position: relative;
  display: flex;
  /* padding-bottom:100px;
  margin-left: -70px; */
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  height: 100%;
	z-index: 3;
  text-align: center;
	color: #fff;
	opacity: 1;
	transform: translateY(0px);
	transition: 0.5s all;
  white-space: nowrap;
}

.wrk-card:hover .wrk-overlay {
	opacity: 0;
	transform: translateY(-10px);
}

@media only screen and (min-width: 992px){
.wrk-border span {
  z-index: 4;
  position: absolute;
  background-color: #fff;
  margin: 5%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out
}
}
.wrk-border .one-a {
  height: 0;
  width: 1.5px;
  top: 0;
  left: 0
}

.wrk-border .two-a {
  height: 1.5px;
  width: 0;
  bottom: 0;
  left: 0
}

.wrk-border .three-a {
  height: 0;
  width: 1.5px;
  bottom: 0;
  right: 0
}

.wrk-border .four-a {
  height: 1.5px;
  width: 0;
  top: 0;
  right: 0
}

.wrk-border:hover .one-a,
.wrk-border:hover .three-a {
    height: 93.7%
}

.wrk-border:hover .two-a,
.wrk-border:hover .four-a {
    width: 90%
}

/* buttons */
.btn-21,
.btn-21 *,
.btn-21 :after,
.btn-21 :before,
.btn-21:after,
.btn-21:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-21 {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border: .5px solid #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.btn-21:disabled {
  cursor: default;
}
.btn-21:-moz-focusring {
  outline: auto;
}
.btn-21 svg {
  display: block;
}
.btn-21 [hidden] {
  display: none;
}
.btn-21 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 800px){
  .btn-21 {
    padding: 0.5rem 2rem;
  }
 }
.btn-21 span {
  mix-blend-mode: difference;
}
.btn-21:before {
  -webkit-animation: move-out 0.3s;
  animation: move-out 0.3s;
  background: #000;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
}
.btn-21:hover:before {
  -webkit-animation: move-in 0.3s forwards;
  animation: move-in 0.3s forwards;
}
@-webkit-keyframes move-in {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes move-in {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes move-out {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}
@keyframes move-out {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}


/* testimonials */
.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: rgba(149, 149, 149, 0.567);
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255);
}
.swiper-pagination {
  position: relative !important;
  margin-top: 10px;
  text-align: left !important;
}



/* Get in Touch */
.phonecode input{
  background-color: white !important;
  outline: none !important;
}
.phonecode select{
  background-color: white !important;
  outline: none !important;
}


.effectline{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: red;
  width: 0;
  height: 5px;
  transition: 0.4s;
}

.effectinput:focus ~ .effectline {
  width: 100%;
  transition: 0.4s;
}

/* button effect */
.effect-btn {
  position: relative;
  border-radius: 999px;
  color: #050505;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300
}

.effect-btn::after {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  border: solid 2px #ffffff;
  opacity: 0;
  border-radius: 999px;
  transition: inset 0.5s cubic-bezier(.16, 1, .3, 1) 0s, opacity 0.15s linear 0s
}

.effect-btn:hover::after {
  inset: -5px;
  opacity: 1
}

/* Navbar btn */

.nav-btn {
  position: relative;
  padding: 7px 18px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #999;
  background-color: transparent;
  border: 2px solid #999;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none
}

.nav-btn:hover {
  transform: scale(1.05);
  color: #000;
  border: 2px solid #AFFE00;
}

.nav-btn:active {
  transform: scale(.9)
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #AFFE00, #AFFE00);
  transition: left 0.4s ease-in-out;
  z-index: -1;
  border-radius: 50px;
  text-decoration: none
}

.nav-btn:hover::before {
  left: 0
}




/*  */

.prose{
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* contact form */
.contact-form-submit {
  position: relative;
  padding: 10px 25px;
  border-radius: 999px;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300
}

.contact-form-submit::after {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  border: solid 2px #000;
  opacity: 0;
  border-radius: 999px;
  transition: inset 0.5s cubic-bezier(.16, 1, .3, 1) 0s, opacity 0.15s linear 0s
}

.contact-form-submit:hover::after {
  inset: -5px;
  opacity: 1
}

/* webdesign */
.website-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.web-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1897 / 905;
  transition: background-position 5s ease;
  background-position: 0 0;
  background-size: 100% auto;
  overflow: hidden;
}

.web-container:hover{
  background-position: 0 100%;
}



.web-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease
}

.web-container:hover .web-overlay {
  display: block;
  background: rgba(0, 0, 0, .425)
}

.web-container img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  flex: 2;
  left: 0
}

.web-button {
  position: absolute;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease
}

.web-button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  background-color: #FFF;
  color: #000;
  border: solid 2px #fff;
  z-index: 1
}

.web-container:hover .web-button {
  opacity: 1
}
/* webdesign */

/* Footer menu */
.foot-underline-hover-effect {
  position: relative;
}

.foot-underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #AFFE00;
  transition: width 0.30s ease-out;
}
.foot-underline-hover-effect:hover::before {
  width: 100%;
}

/* ----------------- */




.foot-underline-hover-effect-black {
  position: relative;
}

.foot-underline-hover-effect-black::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.30s ease-out;
}
.foot-underline-hover-effect-black:hover::before {
  width: 100%;
}


/* Footer menu */

/* styles/global.css or styles/PrintDesign.module.css */
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.lightbox-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
